<!-- Navbar here -->
<nav class="navbar navbar-toggleable-md navbar-inverse bg-inverse static-top">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a class="navbar-brand" href="#">GithubSearch</a>
</nav>

<div class="container pt-4">
  <app-profile></app-profile>  <!--  Called the profile component here to render..   -->
</div>
